.main
  .main_header
    .main_header_name
      Yuuki
  .main_message_content
    .main_message_content_partner
      .partner_img
        = image_tag "https://www.pakutaso.com/shared/img/thumb/KUMAKICHI1027540_TP_V.jpg", alt: 'user img', class: 'partner_img_top'
      .partner_chat
        -# .partner_chat_say
        .says
          %p 今日ここから就職活動をスタートしていく所存であります。頑張りますのでよろしくお願いいたします。
    .main_message_content_me
      %p そうなんですね！頑張ってください。
  .main_message_bottom
    .main_message_bottom_form
      %input


