.side_list_bar_form
  .user_img
    = image_tag "https://www.pakutaso.com/shared/img/thumb/KUMAKICHI1027540_TP_V.jpg", alt: 'user img', class: 'user_img_top'
  .user_data
    .user_data_name
      Yuuki
    .user_data_time
      2020年4月26日
  .user_talk
    今日ここから就職活動をスタートしていく所存であります。頑張りますのでよろしくお願いいたします。