* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.side{
  width: 7%;
  background-color: darkgray; 
  height: 971px;
  &_bar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .icon_deco{
      text-decoration-color: black;
    }
    &_icon{
      font-size: 40px;
      margin-top: 50px;
      color: black;
    }
  }
}